/* Author: Josh Praise; */
/* Url: https://github.com/praizjosh/ */
/* https://twitter.com/praizjosh/ */

body {
	background: #C1BDBA;
	font-size: 18px;
    font-family: 'Raleway', sans-serif;
    margin: 30px 0;
}

::selection {
    color: #fff;
    background-color: #1FB188;
}

#form-wrapper {
	max-width: 780px;
	margin-top: 65px;
}

#form-wrapper div {
    margin: 10px 0;
}

.skin {
	background: #24323C;
    border-radius: 5px;
    padding: 20px 30px;
}
.button-block {
    display: flex;
}

.signup-btn {
    border: none;
    color: #fff;
    background-color: #1FB188;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 40px;
    width: 100%;
}
.signup-btn:hover {
    border: none;
    color: #92999E;
    background-color: #435359;
}

.login-btn {
    border: none;
    color: #92999E;
    background-color: #435359;
    line-height: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px 40px;
    width: 100%;
}
.login-btn:hover {
    border: none;
    color: #fff;
    background-color: #1FB188;
}

input {
    color: #92999E;
    width: 100%;
    border: 1px solid #92999E;
    padding: 12px 20px;
    margin: 8px 0;
    background: transparent;
}

h1	{
    text-align: center;
	font-size: 1.7rem;
    line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #fff;
    padding: 15px; 
}

.start-btn {
	border: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-color: #1FB188;
    line-height: 30px;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 20px 40px;
    width: 100%;
    letter-spacing: 2.9px;
}
.start-btn:hover {
  background-color: #1b9c78;
  transform: translateY(-2px);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media only screen and (max-width: 680px) {
  .start-btn {
    font-size: 1.1rem;
  }
  .signup-btn {
      font-size: .9rem;
    }
  .login-btn {
    font-size: .9rem;
    }
}